html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.itemsPageContainer {
    width: 100dvw;
    height: 100dvh;
}


.itemsPageBackground{
    height: 100%;
    width: 100%;
    z-index: 99;
    position: fixed;
    top: 0;
}

.underlay{
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(0, 0, 0, 0.233);
    z-index: 99;
}

.header {
    height: 60px;
    width: 100dvw;
    min-width:400px;
    border-bottom: 2px white solid;
    z-index: 100;
    color: white;
    font-size: 100px;
    position: fixed;
    vertical-align: middle;
    text-align: center;
}

.cafeNameText{
    position: absolute;
    top:10px;
    left: 10px;
    font-size: 30px;
    color: white;
    opacity: 100%;
}



.searchBox{
    position: fixed;
    top: 8px;
    left: 550px;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    background-color:white;
    outline: none;
    border: none;
    text-indent: 15px;
}

.searchBox::placeholder{
    color: black;
}

.cartIconBox{
    position: fixed;
    top: 8px;
    right: 20px;
    width: 60px;
    height: 40px;
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    padding-top: 7px;
    border-radius: 5px;
}

.cartIconBox:hover{
    background-color: rgb(224, 113, 27) ;
}

.cartImage{
    z-index: 101;
}

.cartQuantity{
    position: absolute;
    top: -5px;
    right: -14px;
    font-size: 15px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    height: 25px;
    width: 25px;
    z-index: 100;
}


.itemsDisplay{
    position: fixed;
    top: 80px;
    z-index: 100;
    height: calc(100dvh - 100px);
    width: 100dvw;
    padding: 20px 80px 20px 80px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    flex-grow: auto;
    flex-shrink: auto;
    scrollbar-width: none;
    overflow-y: scroll;
}

.itemCard{
    width:250px;
    height: 500px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.688);
    color: white;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.638), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.itemImageBox{
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    background-position: center;
}

.itemImage{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.itemNameBox{
    width: 100%;
    height: 50px;
}

.itemName{
    padding-top: 10px;
    font-size: 25px;
    margin-left: 10px;
}

.itemDescriptionBox{
    width: 100%;
    height: 130px;
}

.itemDescription{
    font-size: 16px;
    margin-left: 10px;
    line-height: 1.2;
}

.itemPriceBox{
    width: 100%;
    height: 30px;
}

.itemPrice{
    font-size: 20px;
    margin-left: 10px;
}

.addButton{ 
    background-color: rgb(224, 113, 27) ;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius:0px;
    border-top-left-radius:0px;
    cursor: pointer;
    border: none;
    height: 40px;
    width: 100%;
    transition: 0.2s;
}

.addButton:focus{
    outline: none;
    background-color: rgb(224, 113, 27) ;
}

.addButton:hover{
    background-color: green ;
}

.addButton:active{
    background-color:black;
    color: green;
}

.noItemsText{
    font-size: 25px;
    margin-top: 100px;
    text-align: center;
    color: white;
    margin-left: 480px;
}
