
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginPageBox{
    width: 90%;
    height: 90%;
    max-width: 750px;
    min-width: 800px;
    max-height: 500px;
    min-height: 400px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    column-gap: 10px;
    background-color:  rgb(107, 72, 36);

}

.loginPageBox .imageBox{
    width:350px;
    height: 500px;
    border-radius: 10px;
}

.loginPageBox .imageBox .image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.loginPageBox .inputBox {
    width:400px;
    height: 500px;
    font-family: open-sans, sans-serif;
    align-items: center;
    justify-content: center;
}

.loginPageBox .inputBox .welcomeBackText{
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.loginPageBox .inputBox .enterTheDetailsText{
    font-size: 12px;
    color: white;
    margin-bottom: 10px;
}

.loginPageBox .inputBox .firstNameInput{
    margin-top: 40px;
    height: 35px;
    width: 150px;
    margin-left: 10px;
    font-size: 15px;
    color: black;   
    margin-bottom: 5px;
    background-color: beige;
    border-radius: 5px;
    outline: none;
    border: none;
    display: inline-block;
    text-indent: 10px;
}



.loginPageBox .inputBox .lastNameInput{
    margin-top: 40px;
    height: 35px;
    width: 150px;
    margin-left: 10px;
    margin-right:10px;
    font-size: 15px;
    color: black;
    margin-bottom: 5px;
    background-color: beige;
    border-radius: 5px;
    outline: none;
    border: none;
    display: inline-block;
    text-indent: 10px;  
}


.loginPageBox .inputBox .emailInput1, .passwordInput1, .phoneInput{
    height: 35px;
    margin-top: 15px;
    width: 315px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 15px;
    color: black;
    cursor: text;
    background-color: beige;
    text-indent: 10px;
}



.loginPageBox .inputBox .signupButton{
    width: 320px;
    height: 40px;
    background-color:green;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s ease;
}


.loginPageBox .inputBox .signupButton:hover{
    background-color: #009432;
}

.loginPageBox .inputBox .forgotPasswordText:hover{
    color: lightcoral;
}

.loginPageBox .inputBox .signupButton:active{
    background-color: #007824;  
}


.loginPageBox .inputBox .invalidEmail{
    width: 300px;
    height: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid red;
    font-size: 14px;
    color: red;
    margin-bottom: 10px;
    cursor: text;
}

.loginPageBox .inputBox .haveAccountText{
    width: fit-content;
    margin-top: 20px;
    margin-left: 90px;
    font-size: 15px;
    color: beige;
    cursor: pointer;
    transition: color 0.2s ease;
}

.loginPageBox .inputBox .haveAccountText:hover{
    color: lightcoral;
}


